# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local workspace directories & temporary files
Website Showcase TRK/
SV-IPB-HW-PKL-Project-Showcase/
*.zip
*.png
*.jpg
*.webp
!public/*.png
!public/*.svg
!public/*.jpg
!public/*.webp
!src/assets/*.png
!src/assets/*.svg
!src/assets/*.jpg
!src/assets/*.webp
